---
title: Royal Rangers Přeštice
language: en
---
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ for file of search.files("/assets/css/*.css") }}
        <link rel="stylesheet" href="{{ file }}">
    {{ /for }}
    <title>{{ title }}</title>
</head>
<body>
    {{ comp.header() }}
    {{ content }}
    {{ comp.footer() }}
</body>
</html>