/* 
    SEARCH
*/
#search-trigger{
  background: none;
  border: none;
}
 #search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  #search {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    --pico-group-box-shadow-focus-with-input: 0;
  }

  form[role="search"]{
  flex-direction: column;
  }

/*
THEME SWITCHER
*/

  #theme-switcher {
    padding: 0.5rem;
    margin: -0.5rem;
    line-height: 1;
  }

  #theme-switcher:hover {
    opacity: 0.8;
  }