:root{
    --primary: var(--pico-primary);
    --secondary: var(--pico-secondary);    
    --text: var(--pico-color);
    --primary-inverse: var(--pico-primary-inverse);
    --background: var(--pico-background-color);
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--pico-spacing); 
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}
