<footer class="container-fluid">
    <p id="footer-note">Thank you for visit, this is footer.</p>
    <style>
    #footer-note {
        color: #333;
        text-align: center;
        padding: 10px;
        background-color: #f1f1f1;
    }
    </style>
</footer>